@import './../../../../styles/colors.scss';

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 450px;
  max-width: 600px;
  margin: 10px;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content span {
    font-size: 0.6em;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__add-button {
    background-color: $light-background-color;
    color: $light-font-color;
  }

  &:hover {
    border: 1px solid $light-background-color;
  }
}

img {
  width: 170px;
  margin-left: 10px;
}