<mat-card  *ngIf="product" class="product-card" appHighlightCardBorder>
  <mat-card-content class="product-card__description">
    <mat-card-header class="product-card__header">
      <mat-card-title>{{product.name | uppercase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="product-card__content ml-3">
      <p>
        {{product.price}} RUB <span>/ {{product.serving}}</span>
      </p>
      <p>
        AVAILABLE: {{product.availableQuantity}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              [disabled]="productCount === 1"
              (click)='substractProducts()'
              class="mr-2">
        -
      </button>
      <span>{{productCount}}</span>
      <button mat-button
              [disabled]="!product.availableQuantity || product.availableQuantity === productCount"
              (click)='addProducts()'
              class="mr-0">
        +
      </button>
      <button mat-raised-button
              [disabled]="!product.availableQuantity"
              (click)='onPushProduct()'
              class="product-card__add-button">
        ADD
      </button>
    </mat-card-actions>
  </mat-card-content>
  <img mat-card-image src="assets/img/{{product.img}}" alt="{{product.name}}">
</mat-card>

